<html>
    <head>
    </head>
    <body>
        <header id="navbar"></header>

        <div class="legacy-post">
            <aside>
                <p>This post is from our old site - information in it may be out of date, and links are likely to be dead.</p>

                <ul>
                    <li><a href="/blog" class="no-visited">Other blog posts</a></li>
                    <li><a href="/" class="no-visited">Go home</a></li>
                </ul>
            </aside>
            <main>
                <content />
            </main>
        </div>
    </body>
</html>
